	#mc_embed_signup{

    background:#2066A0;
    clear:left;
    font:14px Helvetica,Arial,sans-serif;
    color:white;
    border-radius:20px;
    padding:20px 0px;
    h2{
      color:white;
    }
  }
